<plugin name='struts1' version='1.3.10' grailsVersion='1.1 &gt; *'>
  <author>Graeme Rocher</author>
  <title>Provides integration between Grails and the Struts 1 framework</title>
  <description>
A plug-in that makes Struts 1 (http://struts.apache.org/) the default controller/view rendering framework for Grails. Struts
is an older first generation framework and this plug-in facilitates migration away from Struts to a modern stack like Grails.
	</description>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>